{{- $i3wm := false -}}
{{- $swaywm := false -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "home-pc" -}}
  {{- $i3wm = true -}}
  {{- $swaywm = false -}}
{{- end -}}
{{- if eq $hostname "laptop-pc" -}}
  {{- $i3wm = false -}}
  {{- $swaywm = true -}}
{{- end -}}


[data]
  i3wm = {{ $i3wm }}
  swaywm = {{ $swaywm }}

encryption = "age"
[age]
  identity = "~/.config/sops/age/keys.txt"
  recipient = "age1sv3k3xpc3r8glku67cew5cv787ly3zw4trx4dakduzvdus5st9xsc8apkt"
