{{ if eq .hwmodel "MS-7751" -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDloC//kHCmAM/faNnBnhWYgEcyFGfJyfoywWbtn4DK8Xj3ymAO3NuQ21xwjPr1iTbtM9bLLvdhUQr9oNinQl0/h+f5FWWzQzZutPfIXkplXhXOi9nmR6Fstt6+RS5FkxOO8AAVrbLSUJffR/Ty81OZLnVZD85oREtctW2zjnkQBri7veGMosR3JhKtRcVEkzOnICyY98jybXkGi43+xk7LvJ6FeTwLg0Rd00YxJDNGbApuYWkls42oIbfsAm5e8FW3dRjzN5Oosqc92AgfURjhy2ynz8GBSNaQhEeMeWmkius0Cxpv2m0mA544Jbt4HO2U5kJCtdi3vg9jbWfdZ2XcckWYLfKRm4YWk6ZfdlqLVgtAx5Oa015L//G0ifttsf7pzfofiNklW6dpwm10IUSU90VVrbWo8oEewrgdCIV39tqQVhnB1B6cMOFk3lwl3DBXfh5NWlCsRK8PEo0tPj7KctACxKOwNnSGZNvLLPda75mOie91eyGy0L9TnzeweB8= artifact@home-pc
{{ else if eq .hwmodel "HP ZBook 15u G3" -}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDr1r/NIp5FHoEC67JHyliyG2NETkEURiqUI8jia0Xoxqy4Bjf7hm+BL9WDAwetdBTg38ot5Xkk62eSReJFbXYTfLcbldk/u3QUHul/4yHceHnqSPImSwzvjyl3V8g6p53oyUGYjRZZ84JuVIKFjgy9rc8FJAE1tOvfl48SgzhaMdL34Oc/CQAl+KrAnPJYnG86qoLGrUEcdkE2HuQxev+yJ52Btr/UD4uWToySVHbqYGVEfGSa+IphA715um2ga3EPpsiVO9bFzzUFEeMA5G2KjE0b/0iRt8nElObimxwqttzsk9GzKoRWBA/EZPE3jm2fGEDx9jNkx6j9YqDmqZm9chIr4fMq8zJFTfbOYHKgnmppag8k/nd/3PyJA5w7D6eGeno10u0UhDfqjG6EIcZR3hAUEjXA6qXnZkz8HEdvHUhiGojts4rYqX6zfxbayfAWbYPlCofZBNCtulZs2THwp7hYyTwsqMPTuIMtqOPlU/cTiUOMkdGCv+NVSAg/52c= artifact@laptop-pc
{{- end }}
